{%extends "core/base.html"%}

{%block title%}My Projects{%endblock%}
{%block content%}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th> 
      </tr>
    </thead>
    <tbody>
        {%for project in projects%}    
          
            <tr>
              <td><a href = "{% url 'core:closer' project.id%}" class="icon-link icon-link-hover link-primary">{{project.name}}</a></td>
              <td>{{project.description}}</td>
              <td>{{project.startDate}}</td>
              <td>{{project.endDate}}</td>
            </tr>
        {%endfor%}
      
    </tbody>
  </table>
{%endblock%}